<main class="container">
    <h1>Gerenciador de Tarefas</h1>
    
    <form #form class="mb-4" [formGroup]="tarefaForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <input type="text" class="form-control" id="nome" placeholder="Nome"  formControlName="nome">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="descricao" placeholder="Descrição"  formControlName="descricao">
      </div>

      <button type="submit" class="btn btn-primary ml-auto d-block">Cadastrar</button>
    </form>

    <app-lista-tarefas
    *ngIf="tarefas| async; else noContent"
      [tarefas]="tarefas"
      (onEditar)="onEditar($event)"
      (onVisualizar)="onVisualizar($event)"
      (onExcluir)="onExcluir($event)"
      (onCheck)="onCheck($event)"
     >
    </app-lista-tarefas>

    <ng-template #noContent>
      <h2>Nenhuma tarefa :)</h2>
    </ng-template>
</main>

